@model Project.Data.Entities.Film

@using Microsoft.AspNetCore.Mvc.Rendering

<h1>Edit Film</h1>

<form asp-action="Edit" method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />

    <div class="col-md-6">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="Rating" class="form-label"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="PosterUrl" class="form-label"></label>
        <input asp-for="PosterUrl" class="form-control" />
        <span asp-validation-for="PosterUrl" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="GenreId" class="form-label">Genre</label>
        <select asp-for="GenreId" asp-items="@(new SelectList(ViewBag.Genres, "Id", "Name"))" class="form-select"></select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <div class="col-12">
        <button class="btn btn-warning" type="submit">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
